body {
    font-family: UberMoveBold, sans-serif;
    background-color: #F9F1E4;
    color: #3a4051;
}


@font-face {
    font-family: UberMoveBold;
    src: url('../assets/fonts/UberMoveBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Afterhours;
    src: url('../assets/fonts/Afterhours.otf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: Afterhours, sans-serif;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-family: Afterhours, sans-serif;
    font-size: 2em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3a4051;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-image: url('../assets/images/Header-image-photo3.jpg');
    background-size: 100% 100%;
    background-position: center;
    aspect-ratio: 17/8;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.skills-header {
    background-image: url('../assets/images/Skills-image2.jpg');
    background-size: 120% 120%;
    background-position: center;
    aspect-ratio: 17/8;
    width: 100%;
    height: auto;
}

nav {
    background-color: #F9F1E4;
    padding: 10px 0;
    width: 100%;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.line-around-nav {
    border-bottom: 3px solid #3a4051;
    width: 70%;
}

.first-row-of-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 60px 0 60px 0;
    height: auto;
    max-height: 600px;
}

.photo-holder {
    order: 1;
    background-image: url('../assets/images/picture-of-me2.PNG');
    background-size: cover;
    min-width: 375px;
    min-height: 288px;
}

.introduction-alinea {
    display: flex;
    flex-direction: column;
    order: 2;
    text-align: left;

}

.introduction-alinea-titel {
    min-width: 350px;
}


.introduction-alinea-links {
    max-width: 600px;
}

.short-summary-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    margin: 30px 0 30px 0;
}

.summary-h2 {
    text-align: left;
}

.short-summary-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
}

.second-row-of-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 30px 0 30px 0;
}

.second-row-h2 {
    text-align: center;
}



